extends _template.pug
include _mixins.pug

block vars
  - var pageTitle = "CHANGE_ME"
  - var metaDescription= "CHANGE_ME"
  - var metaKeywords= "CHANGE_ME"

block content
  .grid-container
    .grid-x.grid-padding-x
      .cell
        h1 Project Template

block append extraScripts