.grid-container.py4.medium-py6#letsgo
  .grid-x
    .cell.auto
      h4.text-light.text-gray Join the conversation of what’s next for global organizations. Explore where business is headed after the pandemic has rewritten the future of work. It’s time to reset—to forge new ways to connect with customers, employees and supply chains. Many challenges lie ahead, and “The Work Ahead” is your guide to solve them.
    .cell.auto
      .responsive-embed.widescreen
        iframe.lazyload(width="420" height="315" data-src="https://www.youtube.com/embed/KaV15TrfC_o" frameborder="0" allowfullscreen)
        //- lite-youtube(videoid="rHxrFg0Reus" style="max-width:100%;")